.favourite-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    row-gap: 35px;
    text-align: center;
    padding: 20px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    position: relative;
    top: 0;
    margin: 0 -13px;
}

.recipe-container img{
    width: 90%;
    border-radius: 19px;
    box-shadow: 0 0px 10px 0px rgb(0 0 0);
}

.recipe-container h3{
    position: absolute;
    top: -18px;
    width: 90%;
    box-sizing: border-box;
    padding: 2px 6px;
    box-shadow: 0 1px 4px rgb(0, 0, 0);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(39, 39, 39, 0.466);
    color: rgb(245, 245, 245);
    letter-spacing: 0.5px;
}

.empty-container {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background: #efefef;
    padding: 30px 0px;
    border-radius: 70px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0px 10px 0px rgb(0 0 0);
}

.empty-container span {
    margin: 0;
    font-size: 20px;
}

.to-home {
    color: #fff;
    background: #87964c;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -8px 7px 0 #dfdfdf9e;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
    height: 16px;
}

.prefer-container {
    position: absolute;
    bottom: 6px;
    right: 30px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    border-radius: 50px;
    border: none;
}
  
.prefer-container svg {
    width: 18px;
    height: 18px;
    border: none;
    color: rgb(212, 163, 0);
    position: relative;
    top: -1px;
}
  
.add-to-container {
    position: absolute;
    bottom: 9px;
    right: 90px;
    color: white;
    background-color: gray;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 12px;
    display: none;
    box-shadow: 0 1px 4px rgb(0, 0, 0);
}
  
.prefer-container:hover + .add-to-container {
    display: block;
}
  
.icon-container {
    position: absolute;
    bottom: 6px;
    right: 60px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    align-items: center;
    border-radius: 50px;
    border: none;
}
  
.pop-up {
    position: absolute;
    bottom: 9px;
    right: 90px;
    color: white;
    background-color: gray;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 12px;
    display: none;
    box-shadow: 0 1px 4px rgb(0, 0, 0);
}
  
.icon-container svg {
    width: 18px;
    height: 18px;
    border: none;
    color: white;
    position: relative;
    top: 0;
}
  
.icon-container:hover + .pop-up {
    display: block;
}
  
.icon-container .hovered-icon {
    display: none;
}
  
.icon-container:hover .hovered-icon {
    display: inline-block;
}
  
.icon-container:hover .default-icon {
    display: none;
}
  
.icon-container svg:active {
    color: rgb(172, 172, 172);
}

@media only screen and (max-width: 434px) {
    .add-to-container {
        right: 50px;
        z-index: 1;
    }
    .pop-up {
        right: 70px;
    }
}

@media only screen and (max-width: 535px) {
    .favourite-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
    .recipe-container h3{
        top: -13px;        
        font-size: 13px;
    }
    .empty-container {
        width: 80vw;
        padding: 25px 0px;
    }
    
}

@media only screen and (min-width: 536px) and (max-width: 1199px) {
    .favourite-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .recipe-container h3{
        top: -16px;        
        font-size: 16px;
    }
    .empty-container {
        top: 120px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1520px) {
    .favourite-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1920px) {
    .favourite-container {
        grid-template-columns: repeat(6, 1fr);
    }
    .recipe-container h3{
        top: -19px;        
        font-size: 19px;
    }
}