.navbar {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.082);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  caret-color: transparent;
}

.menu-bars {
  margin-left: 2.5rem;
  font-size: 2rem;
  background: none;
}

.menu-x{
  margin-left: -15px;
  margin-top: -32px;
  padding-left: 15px;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.menu-x:hover{
  background-color: #00000042;
}
.menu-x:active{
  background-color: #0000007a;
}

.nav-menu {
  background-color: #87964c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  margin-left: -25px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #00000042;
}

.nav-text a:active {
  background-color: #0000007a;
}

.nav-menu-items {
  width: 100%;
}
  
.navbar-toggle {
  
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
  
span {
  margin-left: 16px;
}

.logo {
  width: 12vh;
}

.search-form{
  justify-content: center;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.search-bar{
  border-radius: 19px;
  width: 50%;
  height: 2.1vh;
  border: none;
  padding: 10px 10px 10px 14px;
  font-size: 16px;
  caret-color: transparent;
  outline: none;
}
.search-bar:focus {
  caret-color: black;
}

.search-button{
  display: flex;
  justify-content: center;
  position: relative;
  width: 5vh;
  right: 52px;
  border-radius: 19px;
  background-color: #88963cc4;
  border: none;
  padding: 2px 18px;
}
.search-button:hover {
  cursor: pointer;
  background-color: #87963caf;
  transition: background-color 0.12s;
}
.search-button:active {
  background-color: #87964ce5;
}

.lens{
  width: 3vh;
  opacity: 0.7;
}